@import url('font.css');
:root {
    --color-white: #fff;
    --color-dark-blue1: #42477A;
    --color-dark-blue2: #434776;
    --color-dark-blue3: #2C294D;
    --color-dark-blue-rgba: rgba(66, 71, 122, 0.5);
    --color-bronze: #BF8A77;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 700;
}
body {
    font-family: 'factor-a', sans-serif;
    font-size: 16px;
    line-height: 18px;
}
.mb-50 {
    margin-bottom: 50px;
}

.form-tracking__input {
    outline: none;
    padding: 26px 30px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    flex: 1 1 auto;
    border: 1px solid rgba(108, 117, 125, 0.15);
    color: var(--color-dark-blue1);
}

.container {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.container_min {
    padding: 0 80px;
}

.form-tracking {
    margin-bottom: 50px;
}

.form-tracking__wrapper {
    display: flex;
}

.descr {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-dark-blue-rgba);
}

.value {
    color: var(--color-dark-blue3);
}

.value span {
    text-transform: lowercase;
}

.btns {
    display: flex;
}

.btn {
    border: none;
    background-color: var(--color-dark-blue2);
    color: var(--color-white);
    padding: 30px 124px;
    line-height: 18px;
    outline: none;
    cursor: pointer;
    font-family: 'factor-a', sans-serif;
}
.btn.btn_close-min {
    display: block;
    padding: 22px;
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-bottom: 20px;
}

.btn.btn_trace {
    flex: 0 1 auto;
}

.btn.btn_close {
    font-size: 14px;
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
    background-position: 28% center;
    padding: 30px 60px 30px 105px;
}

.btn.btn_complaints {
    background-color: var(--color-white);
    color: var(--color-dark-blue1);
    font-size: 14px;
    text-align: left;
    background-image: url('../images/complaints.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding: 18px 50px;
}

.form-tracking__label {
    display: block;
    color: var(--color-dark-blue1);
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
}

.params-cargo {
    display: flex;
}
.params-cargo1 .param-cargo {
    border-top: 1px solid rgba(108, 117, 125, 0.15);
    border-right: 1px solid rgba(108, 117, 125, 0.15);
}
.params-cargo1 .param-cargo:first-child,
.params-cargo2 .param-cargo:first-child {
    border-left: 1px solid rgba(108, 117, 125, 0.15);;
}
.params-cargo2 .param-cargo {
    border-top: 1px solid rgba(108, 117, 125, 0.15);
    border-bottom: 1px solid rgba(108, 117, 125, 0.15);
    border-right: 1px solid rgba(108, 117, 125, 0.15);
}
.param-cargo {
    /* border: 1px solid rgba(108, 117, 125, 0.15); */
    padding: 30px 40px;
    flex: 1 1 auto;
}
.param-cargo_header {
    display: flex;
    align-items: center;
    color: var(--color-bronze);
}

.statuses {
    list-style-type: none; 
}

.statuses__item {
    position: relative;
    padding: 45px 40px;
    border: 1px solid rgba(108, 117, 125, 0.15);
    border-top: none;
    color: var(--color-dark-blue3);
}

.statuses__item:first-child {
    border-top: 1px solid rgba(108, 117, 125, 0.15);
}

.statuses__item .statuses__wrapper {
    border-bottom: 2px dotted rgba(108, 117, 125, 0.4);
    position: relative;
    top: -10px;
}

.statuses__item span {
    background-color: var(--color-white);
    margin: 0;
    bottom: -5px;
}

.statuses__item .statuses__text {
    position : relative;
    padding-right: 10px;
    display: inline-block;
}

.statuses__item .statuses__date {
    position: absolute;
    right: 0px;
    top: 60%;
    padding-left: 10px;
}

.statuses__item_current {
    margin-bottom: 30px;
    border: 3px solid rgba(67, 71, 118, 0.6);
}

.statuses__item_planned {
    margin-bottom: 50px;
    border: 3px solid rgba(191, 138, 119, 0.6);
}

.statuses__item_planned .statuses__wrapper {
    border-bottom: 2px dotted rgba(191, 138, 119, 0.6);
}

.bronze {
    color: var(--color-bronze);
}
.statuses__item .statuses__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 8px;
    margin-right: 10px;
}

.statuses__item .statuses__icon_1 {
    background-image: url('../images/stage_1.svg');
}

.statuses__item .statuses__icon_2 {
    background-image: url('../images/stage_2.svg');
}

.statuses__item .statuses__icon_3 {
    background-image: url('../images/stage_3.svg');
}

.statuses__item .statuses__icon_4 {
    background-image: url('../images/stage_4.svg');
}

.statuses__item .statuses__icon_5 {
    background-image: url('../images/stage_5.svg');
}

.statuses__item .statuses__icon_6 {
    background-image: url('../images/stage_6.svg');
}