button{
    &:focus,
    &:active,
    &:visited,
    &:hover{
        outline: none;
        box-shadow: none !important;
    }
}

.btns {
    display: flex;
    @media (max-width: $max_md) {
        flex-direction: column;
    }
}
 
.btn {
    padding: 30px 124px;
    border: none;
    border-radius: 0;
    font-family: 'factor-a', sans-serif;
    color: $color-white;
    line-height: 18px;
    background-color: $dark-blue2;
    background-repeat: no-repeat;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color .2s ease-in-out;
    text-decoration: none;
 
    &:hover{
        color: $color-white;
    }
    
    @media (max-width: $max_md) {
        font-size: 12px;
        padding: 23px 90px;
    }
    &.btn_trace {
        flex: 0 1 auto;
        padding: 30px;
        position: relative;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: 'ОТСЛЕДИТЬ';
            color: $color-white;
            width: 100%;
            height: 100%;
            background-image: url('images/bg_btn.png');
            background-size: 115%;
            opacity: 0;
            transition: opacity .6s ease-out;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $max_xl) {
                background-size: 150%;
            }
            @media (max-width: $max_lg) {
                background-size: 180%;
            }
        }
        &:hover {
            color: $color-white;
            &::after {
                opacity: 1;
            }
        }
        @media (max-width: $max_md) {
            padding: 23px 90px;
        }
    }
    &.btn_close {
        font-size: 14px;
        background-image: url('images/close.svg');
        background-position: 28% center;
        padding: 32px 60px 30px 105px;
    
        @media (max-width: $max_md) {
            font-size: 12px;
            background-position: 36% center;
            padding-left: 78px;
            background-size: 10px;
        }
    }
    &.btn_complaints {
        background-color: $color-white;
        color: $dark-blue1;
        font-size: 14px;
        text-align: left;
        background-image: url('images/complaints.svg');
        background-position: left center;
        padding: 18px 50px;
        @media (max-width: $max_md) {
            font-size: 12px;
            margin-bottom: 12px;
        }
    }
    &.btn_back {
        text-align: center;
    }
    &.btn_light {
        font-weight: 400;
        background-color: transparent;
        color: $dark-blue2;
        border: 1px solid rgba($color: #6C757D, $alpha: .15);
        .btn_light_icon {
            background-image: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.24331 0.0415814C2.2377 0.183134 1.10446 0.950084 0.694855 1.76627C0.316258 2.52062 0.300473 2.68636 0.237334 6.56676C0.200582 8.82188 0.143023 10.3823 0.0895299 10.5722C0.0412984 10.7433 0.00103904 10.9096 2.66241e-06 10.9417C-0.00103372 10.9737 0.300632 11 0.67038 11C1.24134 11 1.34897 10.9795 1.38476 10.8639C1.49486 10.5088 1.59252 9.30277 1.59252 8.2993C1.59252 7.6886 1.60751 7.18897 1.62584 7.18897C1.64418 7.18897 1.83248 7.27382 2.04438 7.37758C3.33579 8.00974 4.63277 7.76218 5.7059 6.6786C6.62071 5.75478 7.07918 4.52195 6.98878 3.22892C6.92939 2.37852 6.76955 1.86893 6.38904 1.31672C5.69283 0.306332 4.57641 -0.146248 3.24331 0.0415814ZM3.53692 0.843764C4.04866 0.994028 4.69926 1.49094 5.0388 1.99104C5.96117 3.34932 5.91493 5.51142 4.94034 6.59437C4.24007 7.37237 3.01921 7.47978 2.24304 6.83159C1.69775 6.37621 1.64226 6.14366 1.6087 4.17204C1.57625 2.2659 1.65901 1.49203 1.93141 1.15417C2.25732 0.749966 2.83625 0.638046 3.53692 0.843764Z' fill='%2342477A'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            width: 7px;
            height: 11px;
            display: inline-block;
        }
        &.active {
            color: $color-white;
            background-color: $dark-blue2;
            border: 1px solid $dark-blue2;
        }
    }
    &.btn_bronze {
        color: $bronze;
        background-color: transparent;
        padding: 30px 25px;
        font-size: 14px;
        line-height: 16px;
        cursor: default;
    }
    &.btn_num {
        font-size: 18px;
        line-height: 20px;
        padding: 28px 80px 27px;
        cursor: no-drop;
    }
}