.calculator-btns {
    margin-bottom: 80px;

    @media (min-width: $md) and  (max-width: $max_lg) {
        margin-bottom: 60px;
    }

    @media (min-width: $sm) and (max-width: $max_md) {
        margin-bottom: 40px;
    }

    @media (max-width: $max_sm) {
        margin-bottom: 30px;
    }
}

.calculator {
    margin-bottom: 50px;

    @media (min-width: $md) and  (max-width: $max_lg) {
        margin-bottom: 40px;
    }

    @media (min-width: $sm) and (max-width: $max_md) {
        margin-bottom: 30px;
    }

    @media (max-width: $max_sm) {
        margin-bottom: 20px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        border: 1px solid $gray-rgba;

        @media (max-width: $max_md) {
            border: none;
            border-left: 1px solid $gray-rgba;
            border-bottom: 1px solid $gray-rgba;
        }
    }

    &__input {
        padding: 30px;
        border: none;
        width: 100%;
        outline: none;
        font-size: 14px;
        font-weight: 400;
        color: $dark-blue1;
        background-color: transparent;

        @media (min-width: $sm) and (max-width: $max_md) {
            padding: 25px 30px;
        }

        @media (max-width: $max_sm) {
            padding: 20px;
        }

        &::placeholder {
            color: $dark-blue-rgba;
            text-transform: none;
        }
    }

    &__input-group {
        &:not(:last-child) {
            border-right: 1px solid $gray-rgba;

        }
        @media (max-width: $max_md) {
            border-right: 1px solid $gray-rgba;
            border-top: 1px solid $gray-rgba;
        }
        &_station {
            position: relative;
           
            &::before {
                position: absolute;
                content: 'A';
                top: 50%;
                transform: translateY(-50%);
                left: 18px;
                color: $dark-blue1;
                font-weight: 400;
            }
            &_1 {
                &::before {
                    content: 'B';
                }
            }
            .calculator__input {
                padding-left: 40px;
            }
        }
    }

    &__nav {
        padding-top: 15px;
    }

    &__link {
        text-decoration: none;
        font-size: 12px;
        line-height: 14px;
        &_add {
            color: $dark-blue2;
            &:hover {
                color: $dark-blue2;
            }
        }
        &_remove {
            color: $gray-rgba2;
            &:hover {
                color: $gray-rgba2;
            }
        }
    }

    .calculator__item{
        & + .calculator__item{
            margin-top:30px;
        }

        &:not(:last-child){
            .calculator__link_add{
                display: none;
            }
        } 
    } 
}