@for $i from 6 through 60 {
    .lh-#{$i}{
        line-height: $i +px;
    }

    .m-{
        &#{$i} {
            margin: $i +px !important;
        }

        &-sm-#{$i}{
            @media(max-width: $sm) {
                margin: $i +px !important;
            }
        }
    
        &-md-#{$i}{
            @media(min-width: $sm) and (max-width: $md) {
                margin: $i +px !important;
            }
        }
    
        &-lg-#{$i}{
            @media(min-width: $md) and (max-width: $lg) {
                margin: $i +px !important;
            }
        }
    
        &-xl-#{$i}{
            @media(min-width: $lg) {
                margin: $i +px !important;
            }
        }
    }

    .mr-{

        &#{$i} {
            margin-right: $i +px !important;
        }

        &sm-#{$i}{
            @media(max-width: $sm) {
                margin-right: $i +px !important;
            }
        }
    
        &md-#{$i}{
            @media(min-width: $sm) and (max-width: $md) {
                margin-right: $i +px !important;
            }
        }
    
        &lg-#{$i}{
            @media(min-width: $md) and (max-width: $lg) {
                margin-right: $i +px !important;
            }
        }
    
        &xl-#{$i}{
            @media(min-width: $lg) {
                margin-right: $i +px !important;
            }
        }
    }

    .ml-{

        &#{$i} {
            margin-left: $i +px !important;
        }

        &sm-#{$i}{
            @media(max-width: $sm) {
                margin-left: $i +px !important;
            }
        }
    
        &md-#{$i}{
            @media(min-width: $sm) and (max-width: $md) {
                margin-left: $i +px !important;
            }
        }
    
        &lg-#{$i}{
            @media(min-width: $md) and (max-width: $lg) {
                margin-left: $i +px !important;
            }
        }
    
        &xl-#{$i}{
            @media(min-width: $lg) {
                margin-left: $i +px !important;
            }
        }
    }

    .mt-{

        &#{$i} {
            margin-top: $i +px !important;
        }

        &sm-#{$i}{
            @media(max-width: $sm) {
                margin-top: $i +px !important;
            }
        }
    
        &md-#{$i}{
            @media(min-width: $sm) and (max-width: $md) {
                margin-top: $i +px !important;
            }
        }
    
        &lg-#{$i}{
            @media(min-width: $md) and (max-width: $lg) {
                margin-top: $i +px !important;
            }
        }
    
        &xl-#{$i}{
            @media(min-width: $lg) {
                margin-top: $i +px !important;
            }
        }
    }

    .mb-{

        &#{$i} {
            margin-bottom: $i +px !important;
        }

        &sm-#{$i}{
            @media(max-width: $sm) {
                margin-bottom: $i +px !important;
            }
        }
    
        &md-#{$i}{
            @media(min-width: $sm) and (max-width: $md) {
                margin-bottom: $i +px !important;
            }
        }
    
        &lg-#{$i}{
            @media(min-width: $md) and (max-width: $lg) {
                margin-bottom: $i +px !important;
            }
        }
    
        &xl-#{$i}{
            @media(min-width: $lg) {
                margin-bottom: $i +px !important;
            }
        }
    }

    .p-{

        &#{$i} {
            padding: $i +px !important;
        }

        &sm-#{$i}{
            @media(max-width: $sm) {
                padding: $i +px !important;
            }
        }
    
        &md-#{$i}{
            @media(min-width: $sm) and (max-width: $md) {
                padding: $i +px !important;
            }
        }
    
        &lg-#{$i}{
            @media(min-width: $md) and (max-width: $lg) {
                padding: $i +px !important;
            }
        }
    
        &xl-#{$i}{
            @media(min-width: $lg) {
                padding: $i +px !important;
            }
        }
    }

    .pt-{

        &#{$i} {
            padding-top: $i +px !important;
        }

        &sm-#{$i}{
            @media(max-width: $sm) {
                padding-top: $i +px !important;
            }
        }
    
        &md-#{$i}{
            @media(min-width: $sm) and (max-width: $md) {
                padding-top: $i +px !important;
            }
        }
    
        &lg-#{$i}{
            @media(min-width: $md) and (max-width: $lg) {
                padding-top: $i +px !important;
            }
        }
    
        &xl-#{$i}{
            @media(min-width: $lg) {
                padding-top: $i +px !important;
            }
        }
    }

    .pb-{

        &#{$i} {
            padding-bottom: $i +px !important;
        }

        &sm-#{$i}{
            @media(max-width: $sm) {
                padding-bottom: $i +px !important;
            }
        }
    
        &md-#{$i}{
            @media(min-width: $sm) and (max-width: $md) {
                padding-bottom: $i +px !important;
            }
        }
    
        &lg-#{$i}{
            @media(min-width: $md) and (max-width: $lg) {
                padding-bottom: $i +px !important;
            }
        }
    
        &xl-#{$i}{
            @media(min-width: $lg) {
                padding-bottom: $i +px !important;
            }
        }
    }

    .pl-{

        &#{$i} {
            padding-left: $i +px !important;
        }

        &sm-#{$i}{
            @media(max-width: $sm) {
                padding-left: $i +px !important;
            }
        }
    
        &md-#{$i}{
            @media(min-width: $sm) and (max-width: $md) {
                padding-left: $i +px !important;
            }
        }
    
        &lg-#{$i}{
            @media(min-width: $md) and (max-width: $lg) {
                padding-left: $i +px !important;
            }
        }
    
        &xl-#{$i}{
            @media(min-width: $lg) {
                padding-left: $i +px !important;
            }
        }
    }

    .pr-{

        &#{$i} {
            padding-right: $i +px !important;
        }

        &sm-#{$i}{
            @media(max-width: $sm) {
                padding-right: $i +px !important;
            }
        }
    
        &md-#{$i}{
            @media(min-width: $sm) and (max-width: $md) {
                padding-right: $i +px !important;
            }
        }
    
        &lg-#{$i}{
            @media(min-width: $md) and (max-width: $lg) {
                padding-right: $i +px !important;
            }
        }
    
        &xl-#{$i}{
            @media(min-width: $lg) {
                padding-right: $i +px !important;
            }
        }
    } 
} 