.form-tracking {
    margin-bottom: 50px;
    @media (max-width: $max_md) {
        margin-bottom: 40px;
    }
    &__wrapper {
        display: flex;
    }
    &__label {
        display: block;
        color: $dark-blue1;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
        font-weight: 700;
        @media (max-width: $max_md) {
            font-size: 12px;
        }
    }
    &__input {
        outline: none;
        padding: 27px 30px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        flex: 1 1 auto;
        border: 1px solid rgba(108, 117, 125, 0.15);
        color: $dark-blue1;
        &::placeholder {
            text-transform: none;
        }
        @media (max-width: $max_md) {
            margin-bottom: 20px;
            font-size: 12px;
            padding: 23px 20px;
        }
        // для окрашивания рамки инпута в красный, если не найден груз
        &.fail {
            border: 1px solid $red;
        }
    }
    // для текста, если не найден груз
    .fail-descr {
        color: $red;
        text-transform: none;
        margin-top: 10px;
        font-weight: 400;
    }
}

.container_tracking_js{
    &.empty_js{
        .tracking_btn{
            visibility: hidden;
            opacity: 0;
            transition:0.3s;
            position:absolute;
            z-index: -100;
        }
    }

    &:not(.empty_js),
    &.start_js{
        .fail-descr{
            visibility: hidden;
            opacity: 0;
            transition:0.3s;
            position:absolute;
            z-index: -100;
        }
    }
} 