
.input_mask_flag {
    .input_mask {
        padding-right: 40px;

        &-flag {
            position: absolute;
            top: 50%;
            transform: translateY(-68%);
            right: 30px;
            width: 16px;
            height: 10px;
            background-image: url('images/flag.svg');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            z-index: 1;

            &.active {
                filter: grayscale(100%);
            }
        }
    }
}


.has- {
    &success {

        .form-control,
        .input_field,
        .textarea__field,
        &.input_field,
        &.select2 ~ .select2,
        &.textarea__field{
            border:1px solid $green !important;

            &:focus {
                border:1px solid $green !important;
            }
        }
    }

    &warning {

        .form-control,
        .input_field,
        .textarea__field,
        &.input_field,
        &.select2 ~ .select2,
        &.textarea__field{
            border:1px solid $yellow !important;

            &:focus {
                border:1px solid $yellow !important;
            }
        }
    }

    &error {

        .form-control,
        .input_field,
        .textarea__field,
        &.input_field,
        &.select2 ~ .select2,
        &.textarea__field{
            border:1px solid $red !important;

            &:focus {
                border:1px solid $red !important;
            }
        }
    }
}