.select{
    &.select_theme_1{
        height:100%;
        .choices{
            height:100%;

            .choices__inner{
                border: 0;
                background-color: transparent;
                font-size: inherit;
                display: flex;
                align-items: center;
                height:100%;
                padding: 0;

                .choices__list--single{
                    padding: 25px 30px;
                    @media (max-width: $max_sm) {
                        padding: 20px;
                    }
                    .choices__item {
                        text-transform: none;
                        font-size: 14px;
                        line-height: 16px;
                        color: $dark-blue1;
                        font-weight: 400;
                    }
                }
            }

            .choices__list.is-active.choices__list--dropdown, 
            .is-active.choices__list[aria-expanded]{
                z-index: 15;
                border: 1px solid rgba($color: $gray2, $alpha: 0.25);
            }

            .choices__list--dropdown .choices__item, 
            .choices__list[aria-expanded] .choices__item {
                text-transform: none;
                padding: 30px;
                background-color: $gray;
                color: $dark-blue1;
                font-weight: 400;
                &::after {
                    display: none;
                }
                @media (max-width: $max_sm) {
                    padding: 20px;
                }
            }
            .choices__list--dropdown .choices__item--selectable.is-highlighted, 
            .choices__list[aria-expanded] .choices__item--selectable.is-highlighted{
                background-color: rgba($color: $gray2, $alpha: 0.25);
            }
            
            &[data-type*=select-one]::after{
                border-color:$dark-blue1 transparent transparent transparent;
                margin-top: -3px;
                right: 30px;
            }
            &__input {
                display: none;
            }
        }
    }
}
