.select{
    &.select_theme_1{
        height:100%;

        .choices{
            height:100%;

            .choices__inner{
                border: 0;
                background-color: transparent;
                font-size: inherit;
                display: flex;
                align-items: center;
                height:100%;
                padding: 0;

                .choices__list--single{
                    padding: 25px 30px;
            
                    @media (max-width: $max_sm) {
                        padding: 20px;
                    }
                }
            }

            &[data-type*=select-one]::after{
                border-color:$dark-blue1 transparent transparent transparent;
            }
        }
    }
}

