.statuses {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    &__item {
        position: relative;
        padding: 45px 40px;
        border: $border-gray;
        border-top: none;
        color: $dark-blue3;
        @media (max-width: $max_md) {
            padding: 20px;
        }
        &:first-child {
            border-top: $border-gray;
        }
        span {
            background-color: $color-white;
            margin: 0;
            bottom: -5px;
            @media (max-width: $max_md) {
                bottom: auto;
                margin-right: 10px;
            }
        }
    }
    &__wrapper {
        border-bottom: 2px dotted $gray-rgba;
        position: relative;
        top: -10px;
        @media (max-width: $max_md) {
            border: none;
            top: 0;
        }
    }
    &__text {
        position : relative;
        padding-right: 10px;
        display: inline-block;
        @media (max-width: $max_md) {
            display: block;
            margin-bottom: 5px;
        }
        span {
            margin-right: 10px;
        }
    }
    &__date {
        position: absolute;
        right: 0px;
        top: 60%;
        padding-left: 10px;
        @media (max-width: $max_md) {
            position: relative;
            top: auto;
            padding-left: 0;
            color: $dark-blue-rgba;
        }
    }
    &__item_current {
        margin-bottom: 30px;
        border: 3px solid rgba(67, 71, 118, 0.6);
        .statuses__date {
            @media (max-width: $max_md) {
                color: $dark-blue3;
            }
        }
    }
    &__item_planned {
        margin-bottom: 50px;
        border: 3px solid rgba(191, 138, 119, 0.6);
        @media (max-width: $max_md) {
            margin-bottom: 40px;
        }
        
        .statuses__date {
            @media (max-width: $max_md) {
                color: $bronze;
            }
        }
        .statuses__wrapper {
            border-bottom: 2px dotted rgba(191, 138, 119, 0.6);
            @media (max-width: $max_md) {
                border: none;
            }
        }
    }
    &__icon {
        display: inline-block;
        width: 30px;
        min-width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        top: 8px;
        margin-right: 10px;
        @media (max-width: $max_md) {
            top: auto;
        }
        &.status_start_china {
            background-image: url('images/status_start_china.svg');
        }
        &.status_choky {
            background-image: url('images/status_choky.svg');
        }
        &.status_end_msk {
            background-image: url('images/status_end_msk.svg');
        }
        &.status_start_msk {
            background-image: url('images/status_start_msk.svg');
        }
        &.status_completed {
            background-image: url('images/status_completed.svg');
        }
        &.status__issued_client {
            background-image: url('images/status__issued_client.svg');
        }
        
    }

}

#allrecords .statuses {
    padding-left: 0 !important;
}