$color-white: #fff;
$dark-blue1: #42477A;
$dark-blue2: #434776;
$dark-blue3: #2C294D;
$dark-blue-rgba: rgba(66, 71, 122, 0.5);
$gray-rgba: rgba(108, 117, 125, 0.15);
$gray-rgba2: rgba(108, 117, 125, 0.5);
$border-gray: 1px solid $gray-rgba;
$bronze: #BF8A77;
$red: #E94D37;
$gray-light: #F7F5F7;
$gray: #F2F0F3;
$gray2: #6C757D;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$max_sm:575.98px;
$max_md:767.98px;
$max_lg:991.98px;
$max_xl:1199.98px;
$max_xxl:1399.98px;

.tracking_container{
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-transform: uppercase;
        font-weight: 700;
    }
    body {
        font-family: 'factor-a', sans-serif;
        font-size: 16px;
        line-height: 18px;
        position: relative;
        @media (max-width: $max_md) {
            font-size: 12px;
        }
    }
}



#first ul,
#second ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    @media (max-width: $max_lg) {
        max-width: 100%;
        padding: 0;
    }
    &_calc {
        max-width: 1080px;
        padding: 140px 70px 120px;
        
        @media (max-width: $max_lg) {
            padding: 70px 40px;
        }
    }
}

.container_min {
    padding: 0 80px 80px;
    position: relative;
   
    @media (max-width: $max_md) {
        padding: 0 30px 70px;
    }
}

.descr {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
    color: $dark-blue-rgba;
    @media (max-width: $max_md) {
        font-size: 10px;
        margin-bottom: 10px;
    }
    &_big {
        font-size: 14px;
        line-height: 160%;
        @media (max-width: $max_md) {
            font-size: 12px;
        }
    }
    // &_modal {
    //     text-align: center;
    //     font-size: 14px;
    //     line-height: 140%;
    //     padding: 0 50px;
    //     margin-top: 25px;
    // }
}

.value {
    color: $dark-blue3;
}

.value span {
    text-transform: lowercase;
}

.bronze {
    color: $bronze;
} 


.border{
    &_top{
        &.border_gray_rgba{
            border-top: 1px solid $gray-rgba;

            &_md{
                @media (min-width: $md) and (max-width: $max_lg) {
                    border-top: 1px solid $gray-rgba;
                }
            }

            &_sm{
                @media (max-width: $max_md) {
                    border-top: 1px solid $gray-rgba;
                }
            }

            &_xs{
                @media (max-width: $max_sm) {
                    border-top: 1px solid $gray-rgba;
                }
            }
        }
    }

    &_right{
        &.border_gray_rgba{
            border-right: 1px solid $gray-rgba;

            &_md{
                @media (min-width: $md) and (max-width: $max_lg) {
                    border-right: 1px solid $gray-rgba;
                }
            }

            &_sm{
                @media (max-width: $max_md) {
                    border-right: 1px solid $gray-rgba;
                }
            }

            &_xs{
                @media (max-width: $max_sm) {
                    border-right: 1px solid $gray-rgba;
                }
            }
        }
    }
}

//убираем стрелки 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


.modal-backdrop{
    // background-color: rgba($color: $dark-blue1, $alpha: 0.15);
    // opacity: 1;
    z-index: -1;
}

// .overflow {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba($color: $dark-blue1, $alpha: 0.15);
//     display: none;
//     &.active {
//         display: block;
//     }
// }