@font-face {
    font-family: 'factor-a';
    src: url('https://vladabelaya.github.io/tracking-form/_dev/styles/fonts/FactorA-Bold.eot');
    src: local('FactorA-Bold'), local('FactorA-Bold'),
        url('https://vladabelaya.github.io/tracking-form/_dev/styles/fonts/FactorA-Bold.ttf') format('ttf'),
        url('https://vladabelaya.github.io/tracking-form/_dev/styles/fonts/FactorA-Bold.woff') format('woff'),
        url('https://vladabelaya.github.io/tracking-form/_dev/styles/fonts/FactorA-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'factor-a';
    src: url('https://vladabelaya.github.io/tracking-form/_dev/styles/fonts/FactorA-Regular.eot');
    src: local('FactorA-Regular'), local('FactorA-Regular'),
        url('https://vladabelaya.github.io/tracking-form/_dev/styles/fonts/FactorA-Regular.ttf') format('ttf'),
        url('https://vladabelaya.github.io/tracking-form/_dev/styles/fonts/FactorA-Regular.woff') format('woff'),
        url('https://vladabelaya.github.io/tracking-form/_dev/styles/fonts/FactorA-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}