 <!-- <h1></h1> -->
 <h2 class="form-tracking__label">артикул № 12122323232323232</h2>
 <div class="params-cargo row">
    <div class="param-cargo param-cargo_header col-lg-4">параметры груза</div>
    <div class="param-cargo col-lg-4">
        <div class="descr">пункт назначения:</div>
        <div class="value">Санкт-петербург</div>
    </div>
    <div class="param-cargo col-6 col-lg-4">
        <div class="descr">кол-во мест</div>
        <div class="value">26</div>
    </div>
    <div class="param-cargo col-6 col-lg-4">
        <div class="descr">Способ:</div>
        <div class="value">АВИА</div>
    </div>
    <div class="param-cargo col-6 col-lg-4">
        <div class="descr">вес</div>
        <div class="value">100 <span>кг</span></div>
    </div>
    <div class="param-cargo col-6 col-lg-4">
        <div class="descr">объем</div>
        <div class="value">1,3</div>
    </div>
</div>
<h2 class="form-tracking__label">история движения груза:</h2>
<ul class="statuses d-none d-md-block">
    <li class="statuses__item">
        <div class="statuses__wrapper">
                <span class="statuses__text"><span class="statuses__icon status_end_china"></span> Выехал со склада в Китае</span>
                <span class="statuses__date">30.05.2022</span>
        </div>
    </li>
    <li class="statuses__item">
        <div class="statuses__wrapper">
            <span class="statuses__text"><span class="statuses__icon status_choky"></span> Таможенное оформление</span>
            <span class="statuses__date">30.05.2022</span>
        </div>
    </li>
    <li class="statuses__item">
        <div class="statuses__wrapper">
            <span class="statuses__text"><span class="statuses__icon status_end_msk"></span> Прибыл на склад в Москве</span>
            <span class="statuses__date">30.05.2022</span>
        </div>
    </li>
    <li class="statuses__item">
        <div class="statuses__wrapper">
            <span class="statuses__text"><span class="statuses__icon status_start_msk"></span>Выехал со склада в Москве</span>
            <span class="statuses__date">30.05.2022</span>
        </div>
    </li>
    <li class="statuses__item statuses__item_current">
        <div class="descr">текущий статус</div>
        <div class="statuses__wrapper">
            <span class="statuses__text"><span class="statuses__icon status_completed"></span>Сдан в транспортную компанию</span>
            <span class="statuses__date">30.05.2022</span>
        </div>
    </li>
    <li class="statuses__item statuses__item_planned">
        <div class="statuses__wrapper">
            <span class="statuses__text bronze"><span class="statuses__icon status__issued_client"></span>планируемая дата выдачи</span>
            <span class="statuses__date bronze">30.05.2022</span>
        </div>
    </li>
</ul>
<ul class="statuses d-block d-md-none">
    <li class="statuses__item">
        <div class="statuses__wrapper d-flex align-items-start">
                <span class="statuses__icon status_end_china"></span> 
                <div>
                    <div class="statuses__text">Выехал со склада в Китае</div>
                    <div class="statuses__date">30.05.2022</div>
                </div>
        </div>
    </li>
    <li class="statuses__item">
        <div class="statuses__wrapper d-flex">
            <span class="statuses__icon status_choky"></span> 
            <div>
                <div class="statuses__text">Таможенное оформление</div>
                <div class="statuses__date">30.05.2022</div>
            </div>
        </div>
    </li>
    <li class="statuses__item">
        <div class="statuses__wrapper d-flex">
            <span class="statuses__icon status_end_msk"></span> 
            <div>
                <div class="statuses__text"> Прибыл на склад в Москве</div>
                <div class="statuses__date">30.05.2022</div>
            </div>
        </div>
    </li>
    <li class="statuses__item">
        <div class="statuses__wrapper d-flex">
            <span class="statuses__icon status_start_msk"></span>
            <div>
                <div class="statuses__text">Выехал со склада в Москве</div>
                <div class="statuses__date">30.05.2022</div>
            </div>
        </div>
    </li>
    <li class="statuses__item statuses__item_current">
        <div class="descr">текущий статус</div>
        <div class="statuses__wrapper d-flex">
            <span class="statuses__icon status_completed"></span>
            <div>
                <div class="statuses__text">Сдан в транспортную компанию</div>
                <div class="statuses__date">30.05.2022</div>
            </div>
        </div>
    </li>
    <li class="statuses__item statuses__item_planned">
        <div class="statuses__wrapper d-flex">
            <span class="statuses__icon status__issued_client"></span>
            <div>
                <div class="statuses__text bronze">планируемая дата выдачи</div>
                <div class="statuses__date bronze">30.05.2022</div>
            </div>
        </div>
    </li>
</ul>